* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
}

.main__title {
  text-align: center;
  font-size: 2.75em;
  margin: 1rem;
  color: #fff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.shop__section {
  margin: 4rem 4rem 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.shop__prod {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.botonCarrito {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  max-width: 150px;
  align-content: flex-end;
  text-align: center;
}

.botonCarrito:hover {
  color: #66f;
  border-bottom: 1px solid #66f;
}

.botonAgregar {
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #66f;
  margin-top: 1rem;
  max-width: 50%;
}

.botonEliminar,
.botonComprar {
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #66f;
  margin-bottom: 0.5rem;
}

.precioTotal {
  font-weight: 600;
  margin-top: 1rem;
}

.prod__title {
  font-weight: 500;
}

.carritoShow {
  background-color: #666;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  max-width: 60vw;
  overflow-y: auto;
}

.carritoNone {
  display: none;
}
