* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main__title {
  text-align: center;
  font-size: 2.75em;
  margin: 1rem;
}

.shop__section {
  margin: 4rem 1rem;
}

.shop__product {
  display: flex;
  justify-content: center;
  align-items: center;
}
